body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
}


#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* Creates 4 equal-sized columns */
    gap: 1%;   /* Adds a 10px gap between cards */
    max-width: 800px;   /* Set a maximum width for the grid */
    margin: 0 auto;   /* Center the grid horizontally */
    padding: 0.5% 3%;  /* Add padding to the grid */
}



#grid img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5%;
}


table {
    display: flex;
    justify-content: center;
}

button {
    background-color: aliceblue;
    width: auto;
    padding: 10% 25% 10% 25%;
    margin:2%;
    font-size: larger;
    border-radius: 10%;
}